body {
  text-align: center;
  background-color: #011F3F;
  color: #FEF2BF;
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

#level-title {
  font-family: 'Press Start 2P', cursive;
  font-size: 2.5rem;
  margin: 5% auto 2% auto;
  color: #FEF2BF;
  max-width: 90%;
}

#score-display {
  font-family: 'Press Start 2P', cursive;
  font-size: 1.5rem;
  margin-bottom: 2%;
}

.container {
  width: 90%;
  max-width: 600px;
  margin: auto;
}

.row {
  display: flex;
  justify-content: center;
  margin-bottom: 15px;
}

.btn {
  flex: 1 1 calc(50% - 30px);
  max-width: 200px;
  height: 200px;
  margin: 15px;
  border: 10px solid black;
  border-radius: 20%;
  cursor: pointer;
  transition: background-color 0.3s, box-shadow 0.3s;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  box-shadow: 0 0 15px rgba(255, 255, 255, 0.5);
}

.game-over {
  background-color: red;
  opacity: 0.8;
}

.red {
  background-color: red;
}

.green {
  background-color: green;
}

.blue {
  background-color: blue;
}

.yellow {
  background-color: yellow;
}

.pressed {
  box-shadow: 0 0 20px white;
  background-color: grey;
}

#instructions {
  margin-top: 20px;
  font-size: 1rem;
  color: #FEF2BF;
  max-width: 80%;
  margin-left: auto;
  margin-right: auto;
}
